@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
}

body {
  background-color: #000720;
}


ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.nav-list li a:hover{
  padding: 4px 0px;
  background-color: black;
  border-radius: 4px;
  transition: all;
}

.nav-and-side {
  display: flex;
  flex-direction: column;
}

nav {
  position: sticky;
  top: 25px;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  flex-wrap: wrap;
  --tw-bg-opacity: 0.2;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  margin-top: 30px;
  width: 90%;
  background-color: rgb(156 163 175/var(--tw-bg-opacity));
  border-radius: 8px;
  align-items: center;
  height: 80px;
  position: fixed;
  margin: 0 5%;
  
  /* background-clip: padding-box; */
}

.nav-text {
  align-items: center;
}

.hideOnMobile > a {
  color: white;
  text-decoration: none;
}

.showOnMobile > a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  /* padding-left: 55px; */
  margin-left: 1.5rem;
}

.nav-bar .register {
  border: none;
  font-weight: 600;
  background-color: white;
  color: black;
  height: 40px;
  width: 120px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.nav-bar .register:hover {
  background-color: rgb(197, 160, 232);
}

.nav-bar .logo {
  height: 34.5px;
}

.sidebar {
  background-color: rgba(156, 163, 175, 0.2);
  position: fixed;
  top: 0px;
  width: 100%;
  // right: 0;
  border-radius: 8px;
  z-index: 999;
  /* background-color: white; */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: rgba(156 163 175 0.2); */
  /* background-color: red; */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.sidebar a {
  height: 10px;
  width: 100%;
}

.sidebar a:hover {
  padding: 4px 0px;
  background-color: black;
  border-radius: 4px;
  transition: all;
}

.sidebar li {
  width: 100%;
  list-style: none;
  margin-top: 15px;
}

.hideOnPC {
  height: 32px;
  width: 32px;
}

@media (max-width: 1200px) {
  #sub-heading {
    display: inline;
    margin-top: 15px;
  }
  // nav {
  //   position: fixed;
  // }
  .sidebar :last-child {
    margin-bottom: 15px;
  }
  .logo {
    margin: 0;
  }
  .nav-list {
    display: none;
  }
  .hideOnMobile {
    display: none;
  }
  .nav-bar {
    justify-content: space-evenly;
  }
  .sidebar {
    display: flex;
    align-self: center;
    margin: 0 5%;
    width: 90%;
    position: fixed;
    margin-top: 110px;
  }

  // .sidebar-div {
  //   display: flex;
  // }
  // .nav-and-side {
  //   justify-content: space-evenly;
  // }

  .kid1 {
    /* margin-left: 7vw; */
    max-height: 569px;
    min-height: 309px;
  }
  .section2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .section1 {
    padding-top: 0px;
  }
  .kid2 {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .hideOnPC {
    position: absolute;
    display: none;
  }
  
  // .sidebar-div {
  //   display: none;
  // }

  #sub-heading {
    display: inline-block;
  }
  .section2 {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .sidebar {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  // nav {
  //   justify-content: space-around;
  //   height: 80px;
  //   margin-left: 7vw;
  //   margin-right: 7vw;
  // }
}
.kid1 {
  height: 70vw;
  max-height: 569px;
  min-height: 309px;
}

.section1 {
  margin-top: 128px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 86%;
  margin-left: 7vw;
  font-family: Inter, sans-serif;
  line-height: 1.75rem;
  justify-content: space-around;
}

#sub-heading {
  color: #9a8dec;
  font-size: 35px;
  /* display: inline-block; */
  padding-top: 110px;
}

.elevate {
  font-size: large;
  color: rgb(133, 130, 152);
}

.Boost {
  max-width: 504px;
  font-size: large;
  color: rgb(133, 130, 152);
}

.pulse {
  color: rgb(255, 255, 255);
  font-weight: 700;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.explore {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: white;
  color: black;
  width: 150px;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
}

.explore:hover {
  background-color: rgb(197, 160, 232);
}

.telescope {
  font-size: 32px;
  max-height: 24px;
}

.by-Zairza {
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Zairza-Logo {
  width: 32px;
  height: 31.2px;
}

.section2 .text {
  width: 86%;
}

.section2 {
  margin-left: 7vw;
  width: 86%;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: flex-end;
}

.features {
  display: flex;
  flex-direction: column;
}

.section2 .text .body {
  /* min-width: 492.633px; */
  max-width: 492.633px;
  /* max-width: 0.2565vw; */
  /* display: flex; 
  flex-direction: row; */
  display: inline-block;
  color: rgb(133, 130, 152);
}

.kid2 {
  /* margin-bottom: 70px; */
  width: 540px;
  height: 441.017px;
}

.Process {
  min-height: 54px;
}

@media (max-width: 538px) {
  .kid2 {
    width: 86vw;
    height: auto;
  }
}
.discord {
  display: flex;
  justify-content: space-around;
}

.discord img {
  display: inline-block;
}

.discord .get {
  display: inline-block;
  margin-left: 0.75rem;
}

.text {
  font-family: Inter;
}

.mentorship {
  display: flex;
}

.mentorship img {
  display: inline-block;
}

.mentorship .one-on-one {
  display: inline-block;
  margin-left: 0.75rem;
}

.badges {
  display: flex;
}

.badges img {
  display: inline-block;
}

.badges .Earn {
  display: inline-block;
  margin-left: 0.75rem;
}

.whiteBold {
  color: white;
  font-weight: bold;
}

.section2 .text .heading {
  color: #9a8dec;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
}/*# sourceMappingURL=homepage_upper.css.map */
