/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// Main CSS
$grid-breakpoints: (
  xs: 0,
  sm: 395px,
  lg: 910px,
  xxl: 1440px,
);

body {
  background: #000720;
}

.back {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.create {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.log-in > a {
  color: #9f9fff;
  text-decoration: underline;
}

.back-btn {
  background-color: #0b0d20;
  border: 1px solid #dedede;
  padding: 8px 23px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  // margin-left: 5cm;
  white-space: nowrap;
}

.login-btn {
  background-color: #fff;
  color: #32344b;
  padding: 8px 23px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

//for tabs
@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
  .nav_par {
    position: sticky;
    top: 25px;
  }

  .nav_par .navbar {
    margin-bottom: 3vmax;
    margin-top: 3vmax;
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: red; //#FFFFFF;
    font-family: Inter, sans-serif;
    padding: 1px;
    height: 75px;
    background-clip: padding-box;
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    background: transparentize($color: #ffffff, $amount: 0.8);
    backdrop-filter: blur(30px);
  }

  .nav_par .navbar .logo {
    height: 3rem;
    margin-left: -3vw;
  }

  .reg_btn {
    padding: 0.5rem 1rem;
    background-color: #eff6ff;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.7rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.95rem;
    margin-right: -2.5vw;
  }

  .nav_par .navbar {
    font-size: 2rem;
    margin-right: -40px;
    cursor: pointer;
  }

  .navbar > .menu,
  .dropdown-content {
    display: none;
  }

  .navbar > ul {
    list-style: none;
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    gap: 2.5vw;
  }

  .navbar > ul > li:hover {
    background-color: #000000;
    border-radius: 5px;
  }
  .join-img-pc {
    display: none;
  }
  
  // .form {
  //   display: block;
  // }

  .form-sec {
    margin-top: 30vh;
  }
  .join-img-mob {

    height: 103px;
    margin: auto;
    margin-top: 55px;
    zoom: 1.3;
  }
  .form-sec  {
    margin: auto;
    margin-top: 55px;
    zoom: 1.3;
  }
  .form-sec .log-in {
    text-align: center;
    margin-top: 10px;
  }
  .form-sec .log-in .reg-al {
    color: #c3c1ce;
  }
  .lady-run {
    margin: 60px auto;
  }
  .form input {
    margin: auto;
    background-color: #1a1635;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    height: 50px;
    margin-top: 12px;
  }
  .form input::placeholder {
    font-weight: 500;
    font-size: 1rem;
  }
  .form input:focus {
    border: #eff6ff 1px solid;
  }
  .full-inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .full-inputs input {
    width: 60vw;
    margin: 8px auto;
    display: block;
  }
  .half-inputs input {
    width: 29vw;
  }
  .half-inputs .grp-1 {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  select {
    width: 29vw;
    background-color: #1a1635;
    margin-top: 12px;
    border: none;
    height: 50px;
    color: rgb(197, 197, 197);
    font-size: 1.001rem;
    font-weight: 300;
    padding-left: 10px;
    border-radius: 3px;
  }
  .half-inputs .grp-2,
  .grp-3 {
    margin: auto;
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }
  .form .form-text {
    width: 60vw;
    margin: 20px auto;
    color: lightgrey;
    font-size: 0.95rem;
  }
  .form .form-text a {
    color: darkgray;
  }
  .buttons {
    width: 60vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
  .buttons .back {
    // background: transparent;
    // border: #eff6ff 2px solid;
    // width: 90px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    background-color: #0b0d20;
    border: 1px solid #dedede;
    padding: 8px 23px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    // margin-left: 5cm;
    white-space: nowrap;
  }
  .buttons .create {
    // background: #eff6ff;
    // border: 2px solid;
    // width: 160px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    // color: #000720;
    background-color: #fff;
    color: #32344b;
    padding: 8px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  .footer {
    margin-top: 120px;
    background-color: #9a8dec;
    width: 100vw;
    height: 150px;
    padding-top: 30px;
    display: flex;
    gap: 40px;
    padding: 30px;
  }
  .foot-logo {
    zoom: 1;
    margin: 15px;
  }
  .foot-text {
    width: 500px;
    margin: 25px -2vw;
    font-weight: 100;
  }
  .foot-links a {
    color: #e5e7eb;
  }
  .foot-links {
    margin-top: 27px;
    margin-left: 25vw;
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}

//for pc
@media (min-width: map-get($map: $grid-breakpoints, $key: xxl)) {
  .nav_par {
    position: sticky;
    top: 25px;
  }

  .nav_par .navbar {
    margin-bottom: 3vmax;
    margin-top: 3vmax;
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: red; //#FFFFFF;
    font-family: Inter, sans-serif;
    padding: 1px;
    height: 75px;
    background-clip: padding-box;
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    background: transparentize($color: #ffffff, $amount: 0.8);
    backdrop-filter: blur(30px);
  }

  .nav_par .navbar .logo {
    height: 3rem;
    margin-left: -4vw;
  }

  .reg_btn {
    padding: 0.5rem 1rem;
    background-color: #eff6ff;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.7rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.95rem;
    margin-right: -5vw;
  }

  .nav_par .navbar {
    font-size: 2rem;
    margin-right: -40px;
    cursor: pointer;
  }

  .navbar > .menu,
  .dropdown-content {
    display: none;
  }

  .navbar > ul {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 3vw;
  }

  .navbar > ul > li:hover {
    background-color: #000000;
    border-radius: 5px;
  }
  .join-img-mob {
    display: none;
  }
  .join-img-pc {
    height: 103px;
    margin-left: 7vw;
    display: block;
    margin-top: 15vh;
  }
  .form-sec .log-in {
    margin-left: 10vw;
    margin-top: 40px;
    font-size: 1vw;
    text-align: left;
  }
  .form-sec .log-in .reg-al {
    color: #c3c1ce;
  }

  .lady-run {
    display: block;
    position: sticky;
    top: 100px;
    right: 10vw;
    z-index: -11;
    bottom: 7vw;
  }

  .real {
    margin-top: 0vw;
  }

  .form input {
    margin-left: 10vw;
    margin: auto;
    background-color: #1a1635;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    height: 50px;
    margin-top: 12px;
  }
  .form input::placeholder {
    font-weight: 500;
    font-size: 1rem;
  }
  .form input:focus {
    border: #eff6ff 1px solid;
  }
  .full-inputs input {
    width: 500px;
    display: block;
    margin-left: 10vw;
  }
  .half-inputs input {
    width: 242px;
  }
  .half-inputs .grp-1 {
    width: 500px;
    margin: auto 10vw;
    display: flex;
    justify-content: space-between;
  }
  select {
    width: 242px;
    background-color: #1a1635;
    margin-top: 12px;
    border: none;
    height: 50px;
    color: rgb(197, 197, 197);
    font-size: 1.001rem;
    font-weight: 300;
    padding-left: 10px;
    border-radius: 3px;
  }
  .half-inputs .grp-2,
  .grp-3 {
    margin: auto 10vw;
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  .form .form-text {
    width: 500px;
    margin: 20px 10vw;
    color: lightgrey;
    font-size: 0.95rem;
  }
  .form .form-text a {
    color: darkgray;
  }
  .buttons {
    width: 290px;
    margin: 28px 24vw;
    display: flex;
    justify-content: space-between;
  }
  .buttons .back {
    // background: transparent;
    // border: #eff6ff 2px solid;
    // width: 90px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    background-color: #0b0d20;
    border: 1px solid #dedede;
    padding: 8px 23px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    // margin-left: 5cm;
    white-space: nowrap;
  }
  .buttons .create {
    // background: #eff6ff;
    // border: 2px solid;
    // width: 160px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    // color: #000720;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #32344b;
    padding: 8px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  .footer {
    margin-top: 120px;
    background-color: #9a8dec;
    width: 100vw;
    height: 150px;
    padding-top: 30px;
    display: flex;
    gap: 40px;
    padding: 30px;
  }
  .foot-logo {
    zoom: 1;
    margin: 15px;
  }
  .foot-text {
    width: 500px;
    margin: 25px -2vw;
    font-weight: 100;
  }
  .foot-links a {
    color: #e5e7eb;
  }
  .foot-links {
    margin-top: 27px;
    margin-left: 25vw;
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}

//for mobile
@media (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
  .nav_par {
    position: sticky;
    top: 25px;
  }
  .nav_par .navbar {
    margin-bottom: 3vmax;
    margin-top: 3vmax;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: red; //#FFFFFF;
    font-family: Inter, sans-serif;
    padding: 1px;
    height: 60px;
    background-clip: padding-box;
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    background: transparentize($color: #ffffff, $amount: 0.8);
    backdrop-filter: blur(30px);
  }
  .nav_par .navbar .logo {
    height: 2rem;
    margin-left: -40px;
  }
  .reg_btn {
    padding: 0.5rem 1rem;
    background-color: #eff6ff;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.7rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.95rem;
    margin-right: -100px;
  }
  .nav_par .navbar .menu {
    font-size: 2rem;
    margin-right: -40px;
    cursor: pointer;
  }
  .side-menu {
    display: none;
  }
  .dropdown-content {
    margin-left: 3vw;
    margin-right: 3vw;
    background: transparentize($color: #ffffff, $amount: 0.8);
    backdrop-filter: blur(30px);
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 2px;
    margin-top: -19px;
    display: none;
  }
  .dropdown-content a:first-of-type {
    margin-top: 15px;
  }
  .dropdown-content a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 3vw;
    font-weight: 500;
    cursor: pointer;
  }
  .menu:hover .dropdown-content {
    display: block;
  }
  
  .form {
    display: block;
  }

  .form-sec {
    margin-top: 20vh;
  }
  .join-img-pc {
    display: none;
  }
  .join-img-mob {
    height: 103px;
    margin: auto;
    margin-top: 10vh;
  }
  .form-sec  {
    height: 103px;
    margin: auto;
    margin-top: 55px;
  }
  .form-sec .log-in {
    text-align: center;
    margin-top: 10px;
  }
  .form-sec .log-in .reg-al {
    color: #c3c1ce;
  }
  .lady-run {
    margin: 50px auto;
    zoom: 0.8;
  }
  .lady {
    display: none;
  }
  .form input {
    margin: auto;
    background-color: #1a1635;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    height: 50px;
    margin-top: 12px;
  }
  .form input::placeholder {
    font-weight: 500;
    font-size: 1rem;
  }
  .form input:focus {
    border: #eff6ff 1px solid;
  }
  .full-inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .full-inputs input {
    width: 350px;
    margin: 8px auto;
    display: block;
  }
  .half-inputs input {
    width: 168px;
  }
  .half-inputs .grp-1 {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  select {
    width: 168px;
    background-color: #1a1635;
    margin-top: 12px;
    border: none;
    height: 50px;
    color: rgb(197, 197, 197);
    font-size: 1.001rem;
    font-weight: 300;
    padding-left: 10px;
    border-radius: 3px;
  }
  .half-inputs .grp-2,
  .grp-3 {
    margin: auto;
    width: 348px;
    display: flex;
    justify-content: space-between;
  }
  .form .form-text {
    width: 350px;
    margin: 20px auto;
    color: lightgrey;
    font-size: 0.95rem;
  }
  .form .form-text a {
    color: darkgray;
  }
  .buttons {
    width: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
  .buttons .back {
    // background: transparent;
    // border: #eff6ff 2px solid;
    // width: 90px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    background-color: #0b0d20;
    border: 1px solid #dedede;
    padding: 8px 23px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    // margin-left: 5cm;
    white-space: nowrap;
  }
  .buttons .create {
    // background: #eff6ff;
    // border: 2px solid;
    // width: 160px;
    // padding: 2px;
    // border-radius: 8px;
    // font-size: 0.8rem;
    // color: #000720;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #32344b;
    padding: 8px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  .footer {
    margin-top: 120px;
    background-color: #9a8dec;
    width: 100vw;
    height: 250px;
    padding-top: 30px;
  }
  .foot-logo {
    zoom: 0.75;
    margin: 5vw;
  }
  .foot-text {
    width: 70vw;
    margin: 20px 5vw;
    font-weight: 100;
  }
  .foot-links a {
    color: #e5e7eb;
  }
  .foot-links {
    margin-top: 30px;
    margin-left: 3vw;
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: map-get($map: $grid-breakpoints, $key: xxl)) {
  .form {
    display: block;
  }
}

